@font-face {
  font-family: "roboto";
  src: url(/Roboto/Roboto-Regular.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url(/Roboto/Roboto-Bold.ttf) format(truetype);
  font-weight: bold;
}

@font-face {
  font-family: "roboto";
  src: url(/Roboto/Roboto-Black.ttf) format(truetype);
  font-weight: 900;
}



* {
  box-sizing: border-box; /* Changing box model to 'border-box' for more predictable layouts */
  margin: 0; /* remove default spacing */
  padding: 0; /* reset default inner spacing */
}

body {
  font-family: "roboto", Arial, Helvetica, sans-serif;
  background-color: aliceblue;
}

h1, h2 {
  font-family: "roboto";
  font-weight: black;
  text-transform: uppercase;
}

h1 {
  font-size: 30pt;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

p {
  font-family: "roboto", Arial, Helvetica, sans-serif;
}

/* NAV BAR */
header {
  top: 0;
  width: 100%;
  background: #c4d6b0;
  color: #fff;
  font-size: 15px;
  display: flex;
  flex-direction: column; /* column layout when screen is under 600px */
}

.logo {
 max-width: 100px;
}

.nav-bar {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.nav-bar li {
  padding: 9px;
}

.menu-items li a {
  color: #000000;
  text-decoration: none;
  display: inline-block;
}

.nav-bar li a:hover {
  color: #9a3c3c; /* makes the text red when you hover over it */
}

@media screen and (min-width: 600px) {
  header {
    flex-direction: row; /* makes the nav bar horizontal when screen is over 600px */
    justify-content: space-between; /* maximizes space between items */
    align-items: center; 
    align-items: flex-end;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
  }

  .nav-bar li {
    margin-right: 15px; /* Add some spacing between menu items */
  }


  .menu-items { 
    flex-direction: row; /* aligns menu items horizontally when screen is <600px*/
  }

  .menu-items li {
    display: inline;
  }
}

/* FOOTER */

footer {
  clear: right; 
  background-color: #c4d6b0;
  color: #000000;
  line-height: 1.5;
}

footer ul {
  list-style-type: none;
}

.footer {
  padding: 30px 30px 30px 30px;
}

.footer div {
  text-align: left;
}

@media screen and (min-width: 600px) { 

.footer {
  display: flex;
  justify-content: space-between;
}
}


/* INDEX PAGE */

.headline-box {
  text-align: center; /* centers text within the box */
  background-image: radial-gradient(rgb(121, 123, 178), rgb(154, 60, 60));
  padding-top: 60px;
  padding-bottom: 50px;
}

/* Clearing floats to fix layout */
.headline-box:after {
  content: "";
  display: table;
  clear: both;
}

.front-page-image img {
  width: 100%;
}

.photo-link a {
text-decoration: none;
color: #9A3C3C;
}

/* styling for centred content*/
.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: aliceblue
}

.general-introduction p {
  text-align: left;
  padding-bottom: 20px;
  max-width: 400px;
}

.general-introduction h2 {
  background-color: #c4d6b0;
  color: #000000;
  padding: 20px;
  display: inline-block;
  margin-bottom: 10px;
}

.intro-text {
    font-family: 'roboto';
    max-width: 70%;
    padding-top: 40px;
    font-size: 20px;
    line-height: 25px;
}



/* SUCCES-STORY PAGE */
/* layout based on grid from Net Ninja https://www.youtube.com/playlist?list=PL4cUxeGkcC9hk02lFb6EkdXF2DYGl4Gg4 */

/* Styles for the success story section */
.success-story {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr; /* Three columns with specified widths */
  column-gap: 30px; /* Gap between grid columns */
}

/* Styles for the top section within the success story */
.top {
  grid-column: span 3; /* Spanning three columns */
  text-align: center;
  border-bottom: 1px solid #ddd; /* Bottom border */
  padding: 25px; /* Padding for spacing */
  background-image: radial-gradient(rgb(121, 123, 178), rgb(154, 60, 60)); /* Background gradient */
}

/* Styles for lists within the success story */
.success-story ul,
.success-story li {
  padding: 0; /* Resetting padding for ul and li elements */
  list-style-type: none; /* Removing default list styling */
}

/* Styles for heading 2 within the success story */
.success-story h2 {
  font-size: 40px; /* Font size for heading 2 */
}

/* Styles for images within the success story */
.success-story img {
  width: 100%; /* Make images responsive within their container */
  padding: 20px 0; /* Padding above and below images */
}
/* Styles for the caption of figures within the success story section */
.success-story figcaption {
  padding-bottom: 20px; /* Bottom padding for spacing */
  color: grey; /* Text color for the caption */
}

/* Styles for links within the caption of figures */
.success-story figcaption a {
  color: #9A3C3C; /* Link color within the caption */
}

/* Styles for articles within the success story */
.success-story article {
  padding: 25px; /* Padding for spacing */
}

/* Styles for the left side of the success story */
.left-side {
  padding: 25px; /* Padding for spacing */
  border-right: 1px solid rgb(204, 226, 226); /* Right border */
  line-height: 2em; /* Line height for text */
}

.left-side p {
  font-weight: bolder; /* Bold font weight for paragraphs */
}

.left-side a {
  text-decoration: underline; /* Underline for links */
}

/* Styles for the right side of the success story */
.right-side {
  border-left: 1px solid rgb(204, 226, 226); /* Left border */
  padding: 25px; /* Padding for spacing */
  line-height: 2em; /* Line height for text */
}

.right-side p {
  font-weight: bold; /* Bold font weight for paragraphs */
}

/* Responsive styles for screens up to 1200px */
@media screen and (max-width: 1200px) {
  nav {
    grid-column: span 3; /* Spanning three columns */
    border-right: 0; /* Removing right border */
    border-bottom: 1px solid #ddd; /* Bottom border */
  }
  nav li {
    display: inline-block; /* Displaying list items inline */
    margin-right: 10px; /* Margin between list items */
  }
  article {
    grid-column: span 2; /* Spanning two columns */
  }
  .right-side {
    padding: 16px; /* Adjusted padding for the right side */
  }
}

/* Responsive styles for screens up to 980px */
@media screen and (max-width: 980px) {
  nav, article, aside {
    grid-column: span 3; /* Spanning three columns */
  }
  aside {
    border-left: 0; /* Removing left border */
    border-top: 1px solid #ddd; /* Top border */
  }
  article h2 {
    font-size: 2.5em; /* Adjusted font size for heading 2 */
  }
}


/* ACCESSIBILITY PAGE */

.headline-visit {
  text-align: center;
  background-image: radial-gradient(rgb(121, 123, 178), rgb(154, 60, 60));
  padding-top: 50px;
  padding-bottom: 50px;
}

.image-accessibility img {
  width: 100%;
}

.image-accessibility {
  display: block;
  margin: 0 auto; /* Center the image */
  padding-top: 60px;
  width: 100%;
  max-width: 700px;
}

.info-grid {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  gap: 3rem;
  column-gap: 2rem;
  padding-top: 60px;
  padding-bottom: 60px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  max-width: 650px;
}

.info-grid div {
  background-color: #c4d6b0;
  min-height: 350px;
  max-width: 350px;
  min-width: 300px;
  padding-top: 20px;
}

.info-grid h2 {
  padding-left: 30px;
  padding-bottom: 10px;
}

.info-grid p {
  padding-left: 30px;
  padding-right: 30px;
  max-width: 300px;
}


@media screen and (min-width: 600px) {
.info-grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
}



/* CAMPUS INFO PAGE*/


.campus-list-info {
  display: grid;
  height: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 6rem;
  justify-content: center;
  align-content: center;
  gap: 4rem;
  margin-top: 70px;
}

.campus-list-info img {
  width: 300px;
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.campus-list-info h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 20px;
}

/* CAMPUS INFO media query that respnse to screen size */

@media screen and (max-width: 400px) {
  .campus-list-info {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
  .campus-list-info {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
  .campus-list-info {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 801px) {
  .campus-list-info {
    grid-template-columns: repeat(3, 1fr);
  }
}



/* CAFETERIA PAGE */
/* layout based on grid from Net Ninja https://www.youtube.com/playlist?list=PL4cUxeGkcC9hk02lFb6EkdXF2DYGl4Gg4 */

/* Styles for the cafeteria section */
.cafeteria {
  background-image: radial-gradient(rgb(154, 60, 60), rgb(121, 123, 178));
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Three columns */
  gap: 60px; /* Gap between grid items */
  line-height: 1.5em; /* Line height for text */
}

/* Styles for the introduction text in the cafeteria section */
.introtxt h2 {
  color: rgb(204, 226, 226);
  font-size: 30px;
}

.introtxt p, .introtxt a {
  color: rgb(204, 226, 226);
  font-size: 20px;
}

.introtxt a {
  text-decoration: underline;
}

/* Styles for the entire introduction text container */
.introtxt { 
  grid-column: span 3; /* Spanning three columns */
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns within the container */
  gap: 60px; /* Gap between grid items */
  align-items: center; /* Centering items vertically */
  border-bottom: 1px solid rgba(204, 226, 226, .3); /* Bottom border with transparency */
  padding: 10px 10px 60px 10px; /* Padding for the container */
}

/* Styles for the cafeteria picture */
/* photo borrowed from freepik.com
https://www.freepik.com/free-photo/female-baker-presenting-various-pastries-transparent-display-cabinet_3682306.htm#from_view=detail_alsolike
*/
.cafeteria-pic {
  width: 100%;
  height: auto;
  border: 2px solid rgba(204, 226, 226, 0.3);
  box-shadow: rgb(116, 106, 106) 0 0 10px; /* Shadow effect */
  border-radius: 40px; /* Rounded corners */
}

/* Styles for food images */
/* photos borrowed from freepik.com 
https://www.freepik.com/free-ai-image/delicious-coffee-beans-cup_59582911.htm#query=coffee&position=15&from_view=search&track=sph&uuid=a37fd16a-e949-40d0-a7af-7632b5306755 
https://www.freepik.com/free-ai-image/fresh-ciabatta-toasted-delicious-gourmet-sandwich-generated-by-ai_41639170.htm#fromView=search&term=sandwich&page=1&position=9&track=ais_ai_generated&regularType=ai
https://www.freepik.com/free-ai-image/view-delicious-muffin_65362614.htm#fromView=search&term=pastries&page=1&position=25&track=ais_ai_generated&regularType=ai
*/
.foods img {
  border: solid 2px rgba(204, 226, 226, .3);
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius: 50%; /* Circular images */
  box-shadow: rgb(116, 106, 106) 0 0 10px; /* Shadow effect */
}

/* Styles for food titles and descriptions */
.foods h3, .foods p {
  color: rgb(204, 226, 226);
  margin: 20px 10px; /* Margin for spacing */
}

/* Responsive styles for screens up to 980px */
@media screen and (max-width: 980px) {
  .foods {
    grid-column: span 3; /* Spanning three columns */
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns on smaller screens */
    gap: 60px; /* Gap between grid items */
    align-items: center; /* Centering items vertically */
  }
}

/* Responsive styles for screens up to 760px */
@media screen and (max-width: 760px) {
  section.introtxt {
    display: block; /* Display as a block on smaller screens */
    margin: 0 20px; /* Margin for spacing */
  }
}

