@font-face {
  font-family: "roboto";
  src: url(/Roboto/Roboto-Regular.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url(/Roboto/Roboto-Bold.ttf) format(truetype);
  font-weight: bold;
}

@font-face {
  font-family: "roboto";
  src: url(/Roboto/Roboto-Black.ttf) format(truetype);
  font-weight: 900;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* NAV BAR */

header {
  font-family: "roboto";
  font-weight: bold;
  background: #594863;;
  color: #000000;
  padding-bottom: 10px;
  justify-content: space-around;
  align-items: center;
}

.logo img {
  width: 100px;
}

.menu-items {
  list-style-type: none;
  font-size: 16px;
  background-color: #594863;
  display: flex;
  
}

.menu-items li {
  padding: 9px;
}

.menu-items li a {
  color: #000000;
  text-decoration: none;
  display: inline-block;
}

.menu-items li a:hover {
  color: rgb(190, 54, 54);
}

.menu-items li a::after {
  content: '';
  display: block;
  height: 4px;
  width: 0;
  background: rgb(175, 43, 43);
  transition: all .5s;
}

.menu-items li a:hover::after {
  width: 100%;

}

/* Media quiery for screens over 600px */

@media screen and (min-width: 600px) {
  .nav-bar {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: flex-end;
  }
  .menu-items {
    flex-direction: column;
  }

  .menu-items li {
    display: inline;
  }
}

/* INDEX PAGE */

.frontpage-intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.frontpage-intro h1 {
    flex: 1;
    font-family: 'roboto';
    padding-left: 50px;
    padding-right: 50px;
    min-width: 30%;
}

.frontpage-intro img {
    max-width: 100%;
}

.frontpage-intro-image {

}

.intro-text {
    font-family: 'roboto';
    max-width: 70%;
    padding-top: 40px;
    font-size: 20px;
    line-height: 25px;
}


/* TOPICAL PAGE */


.topical {
  background: rgb(120, 132, 151);
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  background-image: radial-gradient(rgb(121, 123, 178), rgb(154, 60, 60));
}


/* team members */

.topical {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 30px;
  background-color: rgb(154, 60, 60);
}

.top {
  grid-column: span 3;
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding: 25px;
}


.topical ul, li {
  padding: 0;
  list-style-type: none;
}

.topical h2 {
  text-align: center;
  font-size: 40px;
}


nav {
  padding: 25px;
  border-right: 1px solid rgb(204, 226, 226);
  line-height: 2em;
}
nav li {
  text-decoration: underline;
  color: rgb(204, 226, 226);
}

.topical img {
  width: 100%;
  padding: 20px 0;
}

.topical article {
  padding: 25px;
}

.right-side {
  border-left: 1px solid rgb(204, 226, 226);
  padding: 25px;
  line-height: 2em;
}

footer {
  grid-column: span 3;
  text-align: center;
  border-top: 1px solid #ddd;
  padding: 30px;
}

/* responsive */
@media screen and (max-width: 1200px) {
  nav {
    grid-column: span 3;
    border-right: 0;
    border-bottom: 1px solid #ddd;
  }
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  article {
    grid-column: span 2;
  }
  .right-side {
    padding: 16px;
  }
}

@media screen and (max-width: 980px) {
  nav, article, aside {
    grid-column: span 3;
  }
  aside {
    border-left: 0;
    border-top: 1px solid #ddd;
  }
  article h2 {
    font-size: 2.5em;
  }
}



/* OTHER PAGE */
.other-intro h2 {
  color: rgb(204, 226, 226);
  font-size: 30px;
}

.other-intro p {
  color: rgb(204, 226, 226);
  font-size: 20px;
}

.member h3, p {
    color: rgb(204, 226, 226);
}


.other {
  background-image: radial-gradient(rgb(154, 60, 60), rgb(121, 123, 178));
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  
  line-height: 1.5em;
  }

  .other-intro { grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
    border-bottom: 1px solid rgba(204, 226, 226, .3);
    padding: 10px 10px 60px 10px;
  }

 .team-pic {
  width: 100%;
  height: auto;
  border: 2px solid rgba(204, 226, 226, .3);
  box-shadow: rgb(116, 106, 106) 0 0 10px;
  border-radius: 8px;
}

 .member img {
    border: solid 2px rgba(204, 226, 226, .3);
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: rgb(116, 106, 106) 0 0 10px;
}

section p, h3 {
  margin: 20px 10px;
}

/* responsive */
@media screen and (max-width: 980px) {
    section {
      grid-column: span 3;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 60px;
      align-items: center;
    }
  }
  
  @media screen and (max-width: 760px) {
    section, section.other-intro {
      display: block;
      margin: 0 20px;
    }
  }





  /* EXTRA PAGE */

  .extra {
    text-align: center;
    font-size: 17px;
  }

  .extra.parent {
    
    display: flex;
    flex-flow: column wrap; /* flex-direction, flex wrap */
    justify-content: center;
  }

  .div1 {
    background-image: url(/images/team-rocket-r-1200x900.jpg);
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    background-color: cadetblue;
    margin: 5px;
    width: 100%;
    height: 300px;
  }

  .div1.covertxt {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .div2 {
    background-color: rgb(204, 226, 226);
    margin: 5px;
    width: 100%;
    height: 250px;
  }

  .div3 {
    background-color: cadetblue;
    background-image: url(/images/wobbuffet.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 5px;
    height: 150px;
    width: 32%;
  }

  .div4 {
    background-color: cadetblue;
    background-image: url(/images/weezing.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 5px;
    width: 32%;
    height: 150px;
  }

  .div5 {
    background-color: cadetblue;
    background-image: url(/images/pumpkaboo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 5px;
    width: 32%;
    height: 150px;
  }

  .div6 {
    background-color: rgb(204, 226, 226);
    margin: 5px;
    height: 200px;
    width: 100%;
  }

  
  .footer {
    width: 100%;
    height: 80px;
    background-color: #74c370;
  }

h1,
h2 {
  color: rgb(204, 226, 226);
  align-items: center;
}

.extra img {
  height: fit-content;
}

button {
  background-color:rgb(204, 226, 226);
  border-radius: 10px;
  border: none;
  min-height:30px; 
  min-width: 120px;
  color: rgb(80, 81, 140);
  box-shadow: 0 0 2px 2px rgb(154, 60, 60);

}

button:hover {
  background-color: rgb(80, 81, 140);
  color: rgb(204, 226, 226);
}