@font-face {
  font-family: "roboto";
  src: url(/Roboto/Roboto-Regular.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url(/Roboto/Roboto-Bold.ttf) format(truetype);
  font-weight: bold;
}

@font-face {
  font-family: "roboto";
  src: url(/Roboto/Roboto-Black.ttf) format(truetype);
  font-weight: 900;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "roboto", Arial, Helvetica, sans-serif;
}

h1, h2 {
  font-family: "roboto";
  font-weight: black;
  text-transform: uppercase;
}

a {
  cursor: pointer;
}

p {
  font-family: "roboto", Arial, Helvetica, sans-serif;
}

/* NAV BAR */
/* used youtube link: ekggbe */

header {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #c4d6b0;
  font-size: 1.5rem;
  
  font-family: "roboto";
  font-weight: bold;
  background: #594863;;
  color: #000000;
  padding-bottom: 10px;
  justify-content: space-around;
  align-items: center;
}

.logo img {
  width: 100px;
}

.nav-bar {
  list-style-type: none;
  font-size: 16px;
  background-color: #594863;
  display: flex;
  
}

.nav-bar li {
  padding: 9px;
}

.menu-items li a {
  color: #000000;
  text-decoration: none;
  display: inline-block;
}

.menu-items li a:hover {
  color: rgb(190, 54, 54);
}

.nav-bar li:active a {
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  .nav-bar {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    align-items: flex-end;
  }
  .menu-items {
    flex-direction: row;
    align-items: flex-end;

  }
  .menu-items {
    flex-direction: column;
  }

  .menu-items li {
    display: inline;
  }
}

/* FOOTER */

footer {
  clear: right;
  background-color: #c4d6b0;
  color: #000000;
  line-height: 1.5;
}

footer ul {
  list-style-type: none;
}

.footer {
  padding: 30px 30px 30px 30px;
}

.footer div {
  text-align: left;
}

@media screen and (min-width: 600px) {

.footer {
  display: flex;
  justify-content: space-between;
}
}


/* INDEX PAGE */

.headline-box {
  text-align: center;
  background-image: radial-gradient(rgb(121, 123, 178), rgb(154, 60, 60));
  padding-top: 60px;
  padding-bottom: 50px;
}

.headline-box:after {
  content: "";
  display: table;
  clear: both;
}

.front-page-image img {
  width: 100%;
}

.photo-link a {
text-decoration: none;
color: #9A3C3C;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ffffff;
}

.general-introduction p {
  text-align: left;
  padding-bottom: 20px;
  max-width: 400px;
}

.general-introduction h2 {
  background-color: #c4d6b0;
  color: #000000;
  padding: 20px;
  display: inline-block;
  margin-bottom: 10px;
}

.frontpage-intro-image {

}

.intro-text {
    font-family: 'roboto';
    max-width: 70%;
    padding-top: 40px;
    font-size: 20px;
    line-height: 25px;
}

/* TOPICAL PAGE */

.topical {
  background: rgb(120, 132, 151);
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  background-image: radial-gradient(rgb(121, 123, 178), rgb(154, 60, 60));
}


.topical {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 30px;
  background-color: rgb(154, 60, 60);
}

.top {
  grid-column: span 3;
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding: 25px;
}

.topical ul,
li {
  padding: 0;
  list-style-type: none;
}

.topical h2 {
  text-align: center;
  font-size: 40px;
}

.left-side {
  padding: 25px;
  border-right: 1px solid rgb(204, 226, 226);
  line-height: 2em;
}

.left-side p {
  font-weight: bolder;
}

.left-side a {
  text-decoration: underline;
  color: rgb(204, 226, 226);
}

.topical img {
  width: 100%;
  padding: 20px 0;
}

.topical article {
  padding: 25px;
}

.right-side {
  border-left: 1px solid rgb(204, 226, 226);
  padding: 25px;
  line-height: 2em;
}

.right-side p {
  font-weight: bold;
}


/* responsive */
@media screen and (max-width: 1200px) {
  nav {
    grid-column: span 3;
    border-right: 0;
    border-bottom: 1px solid #ddd;
  }
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  article {
    grid-column: span 2;
  }
  .right-side {
    padding: 16px;
  }
}

@media screen and (max-width: 980px) {
  nav,
  article,
  aside {
    grid-column: span 3;
  }
  aside {
    border-left: 0;
    border-top: 1px solid #ddd;
  }
  article h2 {
    font-size: 2.5em;
  }
}



/* OTHER PAGE */

.other-intro h2 {
  color: rgb(204, 226, 226);
  font-size: 30px;
}

.other-intro p {
  color: rgb(204, 226, 226);
  font-size: 20px;
}

.foods h3, p {
    color: rgb(204, 226, 226);
}


.other {
  background-image: radial-gradient(rgb(154, 60, 60), rgb(121, 123, 178));
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  
  line-height: 1.5em;
}

  .other-intro { grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
    border-bottom: 1px solid rgba(204, 226, 226, .3);
    padding: 10px 10px 60px 10px;
  }

 .cafeteria-pic {
  width: 100%;
  height: auto;
  border: 2px solid rgba(204, 226, 226, 0.3);
  box-shadow: rgb(116, 106, 106) 0 0 10px;
  border-radius: 40px;
}

 .foods img {
    border: solid 2px rgba(204, 226, 226, .3);
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: rgb(116, 106, 106) 0 0 10px;
}

section p, h3 {
  margin: 20px 10px;
}

/* responsive */
@media screen and (max-width: 980px) {
  .foods {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
  }
}

@media screen and (max-width: 760px) {
  section.other-intro {
    display: block;
    margin: 0 20px;
  }
}


