@font-face {
  font-family: "roboto";
  src: url(/Roboto/Roboto-Regular.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url(/Roboto/Roboto-Bold.ttf) format(truetype);
  font-weight: bold;
}

@font-face {
  font-family: "roboto";
  src: url(/Roboto/Roboto-Black.ttf) format(truetype);
  font-weight: 900;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* NAV BAR */

header {
  top: 0;
  width: 100%;
  background: #8fcf78;
  color: #fff;
  align-items: center;
}

header div {
  background-color: #8fcf78
}

.logo {
  max-width: 90px;
  padding: 10px 10px 10px;
}

.nav-bar {
  list-style-type: none;
  border: 1px solid #8fcf78;
  background-color: #8fcf78;
  margin: 0;
  padding: 0;
}

.nav-bar li {
  padding: 9px;
}

.nav-bar li a {
  color: #ffff;
}

.nav-bar li a:hover {
  color: #2a92ac;
}

.nav-bar li:active a {
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  header {
      display: flex;
      position: sticky;
  }

  .nav-bar li {
      display: inline;
  }
}

/* INDEX PAGE */

.frontpage-intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.frontpage-intro h1 {
    flex: 1;
    font-family: 'roboto';
    padding-left: 50px;
    padding-right: 50px;
    min-width: 30%;
}

.frontpage-intro img {
    max-width: 100%;
}

.frontpage-intro-image {

}

.intro-text {
    font-family: 'roboto';
    max-width: 70%;
    padding-top: 40px;
    font-size: 20px;
    line-height: 25px;
}


/* TOPICAL PAGE */


.topical {
  background: rgb(120, 132, 151);
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  background-image: radial-gradient(rgb(121, 123, 178), rgb(154, 60, 60));
}


/* team members */

.topical {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 30px;
  background-color: rgb(154, 60, 60);
}

.top {
  grid-column: span 3;
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding: 25px;
}


.topical ul, li {
  padding: 0;
  list-style-type: none;
}

.topical h2 {
  text-align: center;
  font-size: 40px;
}


.left-side {
  padding: 25px;
  border-right: 1px solid rgb(204, 226, 226);
  line-height: 2em;
}

.left-side p {
  font-weight: bolder;
}

.left-side a {
  text-decoration: underline;
  color: rgb(204, 226, 226);
}

.topical img {
  width: 100%;
  padding: 20px 0;
}

.topical article {
  padding: 25px;
}

.right-side {
  border-left: 1px solid rgb(204, 226, 226);
  padding: 25px;
  line-height: 2em;
}

.right-side p {
  font-weight: bold;
}


/* responsive */
@media screen and (max-width: 1200px) {
  nav {
    grid-column: span 3;
    border-right: 0;
    border-bottom: 1px solid #ddd;
  }
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  article {
    grid-column: span 2;
  }
  .right-side {
    padding: 16px;
  }
}

@media screen and (max-width: 980px) {
  nav, article, aside {
    grid-column: span 3;
  }
  aside {
    border-left: 0;
    border-top: 1px solid #ddd;
  }
  article h2 {
    font-size: 2.5em;
  }
}



/* OTHER PAGE */


.other-intro h2 {
  color: rgb(204, 226, 226);
  font-size: 30px;
}

.food-selection h3, p {
    color: rgb(204, 226, 226);
    margin: 20px 10px;
}


.other {
  background-image: radial-gradient(rgb(154, 60, 60), rgb(121, 123, 178));
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  line-height: 1.5em;
  }

  .other-intro { 
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
    border-bottom: 1px solid rgba(204, 226, 226, .3);
    padding: 10px 10px 60px 10px;
    color: rgb(204, 226, 226);
    font-size: 20px;
  }

 .cafeteria-pic {
  width: 100%;
  height: auto;
  border: 2px solid rgba(204, 226, 226, .3);
  box-shadow: rgb(116, 106, 106) 0 0 10px;
  border-radius: 40px;
}

 .food-selection img {
    border: solid 2px rgba(204, 226, 226, .3);
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: rgb(116, 106, 106) 0 0 10px;
}


/* responsive */
@media screen and (max-width: 980px) {
    section {
      grid-column: span 3;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 60px;
      align-items: center;
    }
  }
  
  @media screen and (max-width: 760px) {
    section, section.other-intro {
      display: block;
      margin: 0 20px;
    }
  }

/* FOOTER */

footer {
  grid-column: span 3;
  text-align: center;
  border-top: 1px solid #ddd;
  padding: 30px;
}
