@font-face {
  font-family: "roboto";
  src: url(/Roboto/Roboto-Regular.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url(/Roboto/Roboto-Bold.ttf) format(truetype);
  font-weight: bold;
}

@font-face {
  font-family: "roboto";
  src: url(/Roboto/Roboto-Black.ttf) format(truetype);
  font-weight: 900;
}

* {
  box-sizing: border-box; /* Changing box model to 'border-box' for more predictable layouts */
  margin: 0; /* remove default spacing */
  padding: 0; /* reset default inner spacing */
}

body {
  font-family: "roboto", Arial, Helvetica, sans-serif;
  background-color: aliceblue;
}

h1, h2 {
  font-family: "roboto";
  font-weight: black;
  text-transform: uppercase;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

p {
  font-family: "roboto", Arial, Helvetica, sans-serif;
}

/* NAV BAR */

header {
  display: flex;
  flex-direction: column; /* arranges elements in nav-bar in a column */
  padding: 10px;
  background: #c4d6b0;
  font-size: 1.5rem;

}

.logo {
  max-width: 100px;
  margin-bottom: 10px; /* margin to separate logo and menu on smaller screens */
}

.nav-bar {
  list-style-type: none;
  font-size: 18px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.nav-bar li {
  padding: 9px;
}

.nav-bar li a {
  color: #000000;
  text-decoration: none;
}

.nav-bar li a:hover {
  color: #9a3c3c; /* makes the text red when you hover over it */
}

@media screen and (min-width: 600px) {
  header {
    flex-direction: row;
    justify-content: space-between; /* maximizes space between items */
    align-items: center; 
    align-items: flex-end;
  }
  .menu-items { 
    flex-direction: row; /* aligns menu items horizontally when screen is <600px*/
  }

  .nav-bar {
    flex-direction: row;
    margin: 0;
  }

  .logo {
    margin-bottom: 0;
  }
}

/* FOOTER */

footer {
  clear: right; 
  background-color: #c4d6b0;
  color: #000000;
  line-height: 1.5;
}

footer ul {
  list-style-type: none;
}

.footer {
  padding: 30px 30px 30px 30px;
}

.footer div {
  text-align: left;
}

@media screen and (min-width: 600px) { 

.footer {
  display: flex;
  justify-content: space-between;
}
}


/* INDEX PAGE */

.headline-box {
  text-align: center;
  background-image: radial-gradient(rgb(121, 123, 178), rgb(154, 60, 60));
  padding-top: 60px;
  padding-bottom: 50px;
}

.headline-box:after {
  content: "";
  display: table;
  clear: both;
}

.front-page-image img {
  width: 100%;
}

.photo-link a {
text-decoration: none;
color: #9A3C3C;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ffffff;
}

.general-introduction p {
  text-align: left;
  padding-bottom: 20px;
  max-width: 400px;
}

.general-introduction h2 {
  background-color: #c4d6b0;
  color: #000000;
  padding: 20px;
  display: inline-block;
  margin-bottom: 10px;
}

#last-line {
  padding-bottom: 30px;
}



/* TOPICAL PAGE */


.success-story {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 30px;
}

.top {
  grid-column: span 3;
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding: 25px;
  background-image: radial-gradient(rgb(121, 123, 178), rgb(154, 60, 60));
}


.success-story ul,
li {
  padding: 0;
  list-style-type: none;
}

.success-story h2 {
  font-size: 40px;
}

.success-story img {
  width: 100%;
  padding: 20px 0;
}

.success-story article {
  padding: 25px;
}

.left-side {
  padding: 25px;
  border-right: 1px solid rgb(204, 226, 226);
  line-height: 2em;
}

.left-side p {
  font-weight: bolder;
}

.left-side a {
  text-decoration: underline;
}

.right-side {
  border-left: 1px solid rgb(204, 226, 226);
  padding: 25px;
  line-height: 2em;
}

.right-side p {
  font-weight: bold;
}



/* responsive */
@media screen and (max-width: 1200px) {
  nav {
    grid-column: span 3;
    border-right: 0;
    border-bottom: 1px solid #ddd;
  }
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  article {
    grid-column: span 2;
  }
  .right-side {
    padding: 16px;
  }
}

@media screen and (max-width: 980px) {
  nav,
  article,
  aside {
    grid-column: span 3;
  }
  aside {
    border-left: 0;
    border-top: 1px solid #ddd;
  }
  article h2 {
    font-size: 2.5em;
  }
}



/* ACCESSIBILITY */

.headline-visit {
  text-align: center;
  background-image: radial-gradient(rgb(154, 60, 60), rgb(121, 123, 178));
  padding-top: 50px;
  padding-bottom: 50px;
}

.image-accessibility img {
  width: 100%;
}

.image-accessibility {
  display: block;
  margin: 0 auto; /* Center the image */
  padding-top: 60px;
  width: 100%;
  max-width: 700px;
}

.headline-visit h1 {
  font-size: 30px;
}

.info-grid {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  gap: 3rem;
  column-gap: 2rem;
  padding-top: 60px;
  padding-bottom: 60px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  max-width: 650px;
}

.info-grid div {
  background-color: #c4d6b0;
  min-height: 350px;
  max-width: 350px;
  min-width: 300px;
  padding-top: 20px;
}

.info-grid h2 {
  padding-left: 30px;
  padding-bottom: 10px;
}

.info-grid p {
  padding-left: 30px;
  padding-right: 30px;
  max-width: 300px;
}


@media screen and (min-width: 600px) {
.info-grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
}



/* CAMPUS INFO */


.campus-list-info {
  display: grid;
  height: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 6rem;
  justify-content: center;
  align-content: center;
  gap: 4rem;
  margin-top: 70px;
}

.campus-list-info img {
  width: 300px;
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.campus-list-info h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 20px;
}

/* CAMPUS INFO media query that respnse to screen size */

@media screen and (max-width: 400px) {
  .campus-list-info {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
  .campus-list-info {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
  .campus-list-info {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 801px) {
  .campus-list-info {
    grid-template-columns: repeat(3, 1fr);
  }
}



/* CAFETERIA PAGE */

.cafeteria {
  background-image: radial-gradient(rgb(154, 60, 60), rgb(121, 123, 178));
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  line-height: 1.5em;
}

.introtxt h2 {
  color: rgb(204, 226, 226);
  font-size: 30px;
}

.introtxt p {
  color: rgb(204, 226, 226);
  font-size: 20px;
}

  .introtxt { 
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
    border-bottom: 1px solid rgba(204, 226, 226, .3);
    padding: 10px 10px 60px 10px;
  }

 .cafeteria-pic {
  width: 100%;
  height: auto;
  border: 2px solid rgba(204, 226, 226, 0.3);
  box-shadow: rgb(116, 106, 106) 0 0 10px;
  border-radius: 40px;
}

 .foods img {
    border: solid 2px rgba(204, 226, 226, .3);
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: rgb(116, 106, 106) 0 0 10px;
}

.foods h3, .foods p {
  color: rgb(204, 226, 226);
  margin: 20px 10px;
}


/* responsive */
@media screen and (max-width: 980px) {
  .foods {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
  }
}

@media screen and (max-width: 760px) {
  section.introtxt {
    display: block;
    margin: 0 20px;
  }
}

